.node circle {
    fill: var(--secondary-color);
}

.node text {

}

.node--internal circle {
    fill: var(--secondary-color);
}

.node--internal text {
    /*text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;*/
}

.link {
    fill: none;
    stroke: var(--secondary-color);
    stroke-opacity: 0.4;
    stroke-width: 3px;
}

.dendro-graph {
    background: var(--main-color);
    margin: 40px 0 20px 0;
}

.religion-graph {
    background: #9271aa;
    margin: 40px 0 100px 0;
}
